numpy==1.23.5
llvmlite==0.40.1
numba==0.57.1
torch>=1.10.0
tensorboardX==2.6.1
easydict
pyyaml
scikit-image==0.19.3
tqdm
torchvision>=0.11.0
SharedArray
opencv-python
pyquaternion
scikit-learn==1.2.2
pandas==1.5.3
pyarrow==10.0.1
open3d==0.16.0
protobuf==3.20.3